@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme inline {
	--color-dark: #1a1919;
	--color-light: #f4f4f5;
	--color-body: #767676;
	--color-accent-light: #e24854;
	--color-accent-dark: #d13c48;
}

@layer components {
	@media (min-width: 1536px) {
		.container {
			max-width: 1720px !important;
		}
	}
}

body {
	font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
}

p {
	font-size: 18px;
}
@media (max-width: 1280px) {
	p {
		font-size: 16px;
	}
}
@media (max-width: 640px) {
	p {
		font-size: 14px;
	}
}

.hero-gradient {
	background: #000000;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.5) 0%,
		rgba(0, 0, 0, 1) 80%
	);
}
.primary-button-gradient {
	background: #e24854;
	background: linear-gradient(
		90deg,
		rgba(226, 72, 84, 1) 0%,
		rgba(209, 60, 72, 1) 90%
	);
}

.hero-value-gradient {
	background: #ffffff;
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0) 75%,
		rgba(255, 255, 255, 0.08) 100%
	);
}

.cta-gradient {
	background: #000000;
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.75) 88%
	);
}

.accordion-gradient {
	background: #e24854;
	background: linear-gradient(
		90deg,
		rgba(226, 72, 84, 1) 0%,
		rgba(209, 60, 72, 1) 100%
	);
}

.contact-gradient {
	background: #000000;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.67) 100%
	);
}
