@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme inline {
	--color-dark: #1a1919;
	--color-light: #f4f4f5;
	--color-body: #767676;
	--color-accent-light: #e24854;
	--color-accent-dark: #d13c48;
}

body {
	font-family: "Inter", sans-serif;
}
